<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity Name="HoloLensRezept"
            Publisher="CN=Sebastian Kreuzer"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="0d593a60-eef8-4f3d-abe6-ac4333fc05b2" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>HoloLensRezept</DisplayName>
    <PublisherDisplayName>Sebastian Kreuzer</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10586.0" MaxVersionTested="10.0.16299.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="HoloLensRezept.AppView">
        <uap:VisualElements
             DisplayName="HoloLensRezept"
             Square150x150Logo="Assets\Square150x150Logo.png" 
             Square44x44Logo="Assets\Square44x44Logo.png" 
             Description="HoloLensRezept"
             BackgroundColor="#464646">
          <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
          <uap:SplashScreen Image="Assets\SplashScreen.png" />
        </uap:VisualElements>
      </Application>
  </Applications>
</Package>